.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url("https://i.imgur.com/SIV1bqp.png");
	background-size: cover;
	background-attachment: fixed;
}

.homepage-bg-img {
  background-position: center;
  background-image: url("https://i.imgur.com/x1363uB.jpg");
  position:absolute; 
  display:block;
  height:100%; 
  width:100%;
}

.homepage-float-text-container {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
  margin-left:5%;
  background-color:rgba(0, 0, 0, 0.748);
  border: 3px solid black;
  color: white;
  padding: 20px;
}

#dashboard-subheading {
	color: black;
	text-align: center;
	font-size: 300%;
}

.request-time-button {
  margin-right:40px;
}

#request-p {
	color: black;
	font-size: 200%;
}

	
